*{
    padding: 0px;
    margin: 0px; 
}

body{
    background:#1A374D;
}

.title{
    background:#d8d8d8;
    height:100px;
    width:700px;
    margin: 50px auto;
    text-align:center;
    border-radius:20px;
    font:monospace;
}

h1{
    text-align:center;
    height:100%;
    padding:25px 0px;
}

.calculator{
    width: 285px;
    height: 350px;
    background-color: dimgray;
    padding: 5px;
    margin:0px auto;
}

.output{
    line-height: 40px;
    background-color: white;
    color: black;
    height: 40px;
    margin-bottom: 10px;
    font-size: 1.4em;
    text-align: right;
    font-family: monospace;
    padding: 0 8px;
}

.btn{
    width: 50px;
    height: 50px;
    padding: 7px;
    margin: 3px;
    background-color: azure;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    line-height: 50px;
    display:inline-block;
}

.row{
    width:100%;
    display:block;
}

.footer{
    position:fixed;
    bottom:0;
    left:0;
    background:#d8d8d8;
    width:100%;
    text-align:center;
    height:30px;
    padding:15px 0px;
}